* {
	padding: 0;
	margin: 0;
}
html {
	background-image: white;
}
body  {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 800px;
	background-color: white;
	margin: 0 auto; 
	padding: 0;
	border: 3px solid black;
	box-shadow: 0 9px 18px 9px;
}
h1, h2, h3, p {
	margin: 0;
	padding: 0;
}

/* Header */
header { 
    padding: 15px;
	color: white;
	background-color: #002856;
	height: 130px;
} 
header img { 
	float: left; 
	padding-right: 15px;  
	border: 3px solid #BB9860;
	margin-right: 2em;
}
header h1 {
	font-size: 400%;
}
header h2 {
	font-size: 200%;
	color: #BB9860;
}
header h3 {
	font-size: 100%;
}

/* Navigation menu */
#nav_menu {
	clear: left;
	background-color: #002856;
}
#nav_menu ul {
	list-style: none;
	position: relative;
	color: black;
}
#nav_menu ul li {
	float: left;
}
#nav_menu ul ul {
	display: none;
	position: absolute;
}
#nav_menu ul ul li {
	float: none;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
	content: "";
	clear: both;
	display: block;
}
#nav_menu ul {
	margin: 0;
	padding: 0;
}
#nav_menu ul li a {
	text-align: center;
	display: block;
	width: 200px;
	padding-top: .5em;
	padding-bottom: 1em;
	text-decoration: none;
	background-color: black;
	color: white;
}
#nav_menu ul li a:hover, #nav_menu ul li a:focus {
	background-color: gray;
}
#nav_menu ul ul ul {
	position: absolute;
	left: 100%;
	top: 0%;
	display: none;
}
#nav_menu ul ul ul li {
	float: none;
}

#nav_menu .current {
	color: #BB9860;
	font-weight: bold;
	background-color: gray;
}

/* Main */
main {
	height: 900px;
}
/* Nav(Left) Sidebar */
#NavSideBar {
	float: left; 
	width: 165px;
	height: 100%;
	color: white;
	background-color: #002856;
}
#NavSideBar h1 {
	font-size: 150%;
	padding: 1em;
}
#NavSideBar h2 {
	font-size: 120%;
	padding: 1em;
}

#NavSideBar h3 {
	font-size: 100%;
	padding: 1em;
}

/* Article */

article {
	width: 400px;
	height: 100%;
	float: left;
	padding-left: 1em;
	padding-right: 1em;
}
article h1 { 
	font-size: 140%;
	margin-bottom: .5em;
}
article h2 {
	font-size: 125%;
	margin: .8em 0 .5em 0;
}
article h3 {
	font-size: 110%;
	margin: .8em 0 .5em 0;
}
article p {
	margin-bottom: .5em;
	margin-left: 2em;
}
article a {
	font-weight: bold;
	color: orange;
}
article a:link, main a:visited { 
    color: orange; 
}
article a:hover, main a:focus { 
    color: green;
}
article img {
	float: left;
	margin: 1.5em;
}

/* Right Side Bar */

#RightSideBar {
	width: 180px;
	height: 100%;
	float: right;
	background-color: #002856;
	color: white;
}
#RightSideBar img {
	float: left;  
	border: 3px solid #BB9860;
	margin: 1em;
}
#RightSideBar h1 {
	font-size: 120%;
	padding-top: 1em;
	margin-left: 1em;
}
#RightSideBar h2 {
	font-size: 100%;
	padding: 0.2em;
	margin-left: 1em;
}

#RightSideBar h3 {
	font-size: 80%;
	padding: 0.2em;
	margin-left: 1em;
}
#RightSideBar p {
	font-size: 80%;
	padding: 1em;
	margin-left: 1em;
}

/* Footer */
footer { 
	clear: both;
	border-top: 2px solid black;
	padding: 15px;
	color: white;
	background-color: #002856;
} 
footer p {
	font-size: 90%;
	text-align: center;
}